@import "tailwindcss";
@import "./fonts.css";

@theme inline {
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-geist-mono: var(--font-geist-mono);
}

.font-stormfaze {
  font-family: "Stormfaze", sans-serif;
}
